@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: #f5f5f5;
} */

@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/CustomFont-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/CustomFont-Bold.ttf') format('truetype');
  font-weight: bold;
}
